html, body {
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 1180px)  {

.hero-img img {
    width: 25rem;
}

}



@media (max-width: 1100px)  {

.home-escrito h1 {
    font-size: 3.5rem;
}

.home-escrito h3 {
    font-size: 1.2rem;
    width: 21rem;
}

.home-descricao p {
    font-size: 1rem;
    width: 20rem;
}

.home-button {
    padding: 0.4rem 1rem;
}

.hero-img img{
    padding-right: 8rem;
    margin-left: -40px;
    width: 500px;
}

}



@media (max-width: 1000px)  {
    .hero-img img{
        margin: 0;
        margin-left: -70px;
        margin-top: 4rem;
        width: 450px;
    }

    .img-card1, .img-card2, .img-card3 {
        width: 200px;         
    }

    .card1, .card2, .card3 {
        width: 15rem;
    }

    .sobre-icones {
        width: 120px;
    }

}


@media (max-width: 920px)  {
    .home {        
        display: flex;
        flex-direction: column;  
        align-items: center;
        height: calc(100vh + 88.6px);        
    }

    .escrito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-escrito h1{
        margin-top: 3rem;
        font-size: 3.5rem;
    }

    .home-escrito h3{
        font-size: 1.5rem;
        width: 26rem;

    }

    .home-descricao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-descricao p {
        font-size: 1.3rem;          
        width: 25rem;
    }

    .home-button {
        padding: 0.5rem 1.4rem;
    }

    .hero-img img{
        padding: 0;
        width: 320px;
        position: static;
        margin-top: -6rem;
    }
  
}


@media (max-width: 780px)  {

    



    .projetos{
        height: 100%;
    }

    .cards {
        flex-wrap: wrap;
        margin: 2rem 0rem;
        gap: 2rem;
    }

    .card3 {
        margin-top: 0rem;
    }



}
/* =================== MOBILE ATÉ 768px =================== */
@media (max-width: 768px) {

  

  .logo{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu{
    height: 120px;
  }

  .menu-logo{
    width: 100px;
    position: initial;
    margin-top: 120%;
  }

  .menu-itens {
    display: none;
  }

  /* HOME */
 
  .home hr{
    display: none;
  }

  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    gap: 10px;
  }

  .escrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .home-escrito {
    width: 80%;
    margin: 0;
    text-align: center;
  }

  .home-descricao {
    width: 80%;
    margin-top: 1.5rem;
  }

  .home-escrito h1 {
    font-size: 2.3rem;
  }

  .home-escrito h3 {
    font-size: 1rem;
    width: 100%;
  }

  .home-descricao p {
    font-size: 1rem;
    width: 100%;
  }

  .home-button {
    padding: 0.6rem 1.2rem;
  }

  .hero-img{
    text-align: center;
    z-index: 1;
  }

  .hero-img img {
    position: static;
    width: 80%;
    margin-top: 1rem;
  }

  .gradiente{
    z-index: 0;
    left: 0;
    top: 70%;
  }

  /* PROJETOS */

  .projetos-titulo h2{
    font-size: 1.5rem;
  }

  .projetos-titulo p{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    width: 75%;
  }

  .cards {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 0;
  }

  .card1, .card2, .card3 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }  

  .img-card1, .img-card2, .img-card3 {
    width: 80%;  
    
  }

  .card1-descricao h4 a, .card2-descricao h4 a, .card3-descricao h4 a{
    font-size: 1.5rem;
  }

  .card1-descricao p a, .card2-descricao p a, .card3-descricao p a{
    font-size: 0.9rem;
  }

  /* SOBRE */
  .sobre{
    gap: 100px;
  }

  .sobre h2{
    margin-top: -100px;
  }

  .sobre-icones {
    width: 80px;
    margin-top: 2rem;
  }

  .sobre-texto{
  }

  .sobre-texto p {
    width: 90%;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 100px;
  }

  /* FOOTER */

  footer {
    height: 300px;
  }

  .contato span h3{
    margin-top: -70%;
    font-size: 2rem;
  }

  .icones-contato{
    margin-bottom: 20px;
    width: 70%;
    text-align: center;
  }

  .icones-contato img {
    width: 50px;
  }

  footer span h3 {
    font-size: 1.5rem;
  }
}