* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #023041;      
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px   
    
}

.home hr {
    width: 100%;
    border-color: white;
    position: absolute;

}

.menu-logo {
    width: 4rem;
    position: absolute;
    left: 7rem;
    transform: translateY(-50%); 
    transition: 0.4s;   
}

.menu-logo:hover {
  filter: drop-shadow(0px 0px 10px white);
}


.menu-itens {  
    list-style: none;  
    display: flex;
    gap: 2.5rem;
    margin: 0.8rem 0;
}

.menu-itens a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #ffff;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative; 
    transition: 0.3s ease-in-out;   
}


.menu-itens a::after {
    content: " ";
    width: 0%;
    height: 0.1rem;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0; 
    transition: 0.25s ease-in-out;   
}

.menu-itens a:hover {
    scale: 1.1;
}

.menu-itens a:hover::after {
    width: 100%;
}


.home {
    background-color: #023041;
    display: flex;
    gap: 7rem;
    height: calc(100vh - 88.6px);
    position: relative;
    overflow: hidden;
    
}

.home-escrito {
    margin: 0 15%; 
    width: 500px;
    display: flex;   
    flex-direction: column;
    align-items: center;

    /*declaração de duração da animação*/
    -webkit-animation: home-escrito 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: home-escrito 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes home-escrito { /*animação do título da section*/
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(15%);
              transform: translateX(15%);
    }
  }
  @keyframes home-escrito {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  

.home-escrito h1 {
    font-family: Fira Code, sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: 700;
    margin-top: 7rem;
}

.home-escrito h3 {
    font-family: Fira Code, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 26rem;
    text-align: center;    
}

.home-descricao {
    margin: 0 15%;
    width: 26rem;
    margin-top: 1.5rem;

    /*declaração de duração da animação*/
    -webkit-animation: home-descricao 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: home-descricao 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

@-webkit-keyframes home-descricao {  /*animação do parágrafo da section*/
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(15%);
              transform: translateX(15%);
    }
  }
  @keyframes home-descricao {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }


.home-descricao p {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;    
    width: 25rem;
}

.home-button {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    background-color: white;
    color: #023041;
    padding: 0.5rem 1.4rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;


        /*declaração de duração da animação*/
    -webkit-animation: home-button 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: home-button 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;


    transition: 0.4s ease-in-out;
}

.home-button:hover { /*faz a transformação da escala quando o mouse passar em cima*/
    scale: 1.1;
  }


  @-webkit-keyframes home-button { /*animação do botão da section*/
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes home-button {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


.hero-img img{
    position: absolute;
    z-index: 1;
    width: 29rem;
    margin: 50px 20px 50px 40px;

    /*declaração de duração da animação*/
    -webkit-animation: hero-img 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; 
    animation: hero-img 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

@-webkit-keyframes hero-img {   /*animação de imagem da section*/
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
      opacity: 1;
    }
  }
  @keyframes hero-img {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
      opacity: 1;
    }
  }


.gradiente {
    position: absolute; 
    width: 450px;
    height: 450px;
    border-radius: 50%;
    right: -200px;
    bottom: -200px;
    background-color: white;
    background: radial-gradient(circle at center, white, transparent);
    filter: blur(60px);


    -webkit-animation: gradiente 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; 
    animation: gradiente 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes gradiente {   /*animação de imagem da section*/
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes gradiente {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }



.projetos {
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 999;
}

.logo-projetos img{
    width: 90%; /* Faz a imagem ocupar toda a largura da seção */
    height: 100%; /* Faz a imagem ocupar toda a altura da seção */
    object-fit: cover; /* Faz a imagem preencher todo o espaço, possivelmente cortando as bordas */
    position: absolute; /* Mantém a imagem no fundo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(5px);
    
}

.projetos-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projetos-titulo h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.3rem;
    color: white;
    background-color: #023041;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.projetos-titulo p {
    font-family: roboto, sans-serif;
    font-weight: 700;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    color: white;
    background-color: #023041;
    padding: 0.7rem 2rem;
    border-radius: 0.8rem;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.img-card1, .img-card2, .img-card3 {
    width: 230px; 
    border-radius: 0.5rem; 
    margin-top: 1.5rem;
}

.card1, .card2, .card3 {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-color: #023041;
    border-radius: 1.5rem;
    cursor: pointer;
    
}


.card1 {
    opacity: 0;  /* Inicialmente invisível */
    transform: translateZ(-1400px) translateY(800px);  /* Fora da tela */
    transition: opacity 0.6s ease, transform 0.6s ease;
}


@-webkit-keyframes card1 {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes card1 {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .card1.visible {
    -webkit-animation: card1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: card1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.card2 {
    opacity: 0;  /* Inicialmente invisível */
    transform: translateZ(-1400px) translateY(800px);  /* Fora da tela */
    transition: opacity 0.6s ease, transform 0.6s ease;
}


@-webkit-keyframes card2 {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes card2 {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .card2.visible {
    -webkit-animation: card2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: card2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.card3 {
    opacity: 0;  /* Inicialmente invisível */
    transform: translateZ(-1400px) translateY(800px);  /* Fora da tela */
    transition: opacity 0.6s ease, transform 0.6s ease;
}


@-webkit-keyframes card3 {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes card3 {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .card3.visible {
    -webkit-animation: card3 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: card3 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*hover cards*/
.card1 {
  transition: 0.4s;
}

.card1:hover {
  scale: 1.05;
  box-shadow: 7px 7px 15px black;
}

.card2 {
  transition: 0.4s;
}

.card2:hover {
  scale: 1.05;
  box-shadow: 7px 7px 15px black;
}

.card3 {
  transition: 0.4s;
}

.card3:hover {
  scale: 1.05;
  box-shadow: 7px 7px 15px black;
}


.card1-descricao,  .card2-descricao, .card3-descricao {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 12rem;
    text-decoration: none;
    padding: 1.5rem 0rem 3rem 0rem;
    gap: 0.8rem;
}



.card1-descricao h4 a,  .card2-descricao h4 a, .card3-descricao h4 a {
    font-family: roboto, sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.card1-descricao p a,  .card2-descricao p a, .card3-descricao p a {
    font-family: roboto, sans-serif;
    font-size: 0.86rem;
    color: white;
    text-decoration: none;
}

.sobre {
    background-color: #023041;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;    
}

.sobre-texto h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.3rem;    
    color: white;    
    margin-top: -80px;

    
    
}

.sobre-texto p {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
    background-color: white;
    color: #023041;
    width: 38rem;
    
    border-radius: 2rem;

    margin-top: 2.5rem;
    padding: 2rem 1rem;
}

/* Container para ocultar as imagens fora da área de exibição 
.slider-container {
  width: 150px; 
  overflow: hidden;
  margin: auto;
  position: relative;
}*/

/* Alinha as imagens horizontalmente */
.sobre-icones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 140px;


  position: relative;

  margin-top: 150px;
}

/* Define o tamanho de cada imagem */
.sobre-icones img {
  opacity: 0;

  position: absolute;

  width: 100%;

  transition: opacity 0.8s;
  
}

.sobre-icones img.selected {
  opacity: 1;
}  



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
footer span h3 {
    color: #023041;
    font-family: roboto, sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    padding-top: 2rem;
    
}

.icones-contato {
    padding: 1rem;
}

.icones-contato img {
    width: 50px;
    transition: 0.4s;
}

.icones-contato img:hover {
    transform: scale(1.1);
}

footer p {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: #023041;
    padding-bottom: 1rem;
}