* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #023041;      
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px   
    
}

.home hr {
    width: 100%;
    border-color: white;
    position: absolute;

}

.menu-logo {
    width: 4rem;
    position: absolute;
    left: 7rem;
    transform: translateY(-50%);
}


.menu-itens {  
    list-style: none;  
    display: flex;
    gap: 2.5rem;
    margin: 0.8rem 0;
}

.menu-itens a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #ffff;
    font-weight: 700;
    font-size: 1.2rem;
}  

.home {
    background-color: #023041;
    display: flex;
    gap: 7rem;
    height: calc(100vh - 88.6px);
    position: relative;
    overflow: hidden;
    
}

.home-escrito {
    margin: 0 15%; 
    width: 500px;
    display: flex;   
    flex-direction: column;
    align-items: center;

}

.home-escrito h1 {
    font-family: Fira Code, sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: 700;
    margin-top: 7rem;
}

.home-escrito h3 {
    font-family: Fira Code, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 26rem;
    text-align: center;    
}

.home-descricao {
    margin: 0 15%;
    width: 26rem;
    margin-top: 1.5rem;     
}

.home-descricao p {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;    
    width: 25rem;
}

.home-button {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    background-color: white;
    color: #023041;
    padding: 0.5rem 1.4rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
}


.hero-img img{
    position: absolute;
    z-index: 1;
    width: 29rem;
    margin: 50px 20px 50px 40px;
}

.gradiente {
    position: absolute; 
    width: 450px;
    height: 450px;
    border-radius: 50%;
    right: -200px;
    bottom: -200px;
    background-color: white;
    background: radial-gradient(circle at center, white, transparent);
    filter: blur(60px);
}

.projetos {
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 999;
}

.logo-projetos img{
    width: 90%; /* Faz a imagem ocupar toda a largura da seção */
    height: 100%; /* Faz a imagem ocupar toda a altura da seção */
    object-fit: cover; /* Faz a imagem preencher todo o espaço, possivelmente cortando as bordas */
    position: absolute; /* Mantém a imagem no fundo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(5px);
    
}

.projetos-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projetos-titulo h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.3rem;
    color: white;
    background-color: #023041;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.projetos-titulo p {
    font-family: roboto, sans-serif;
    font-weight: 700;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    color: white;
    background-color: #023041;
    padding: 0.7rem 2rem;
    border-radius: 0.8rem;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.img-card1, .img-card2, .img-card3 {
    width: 230px; 
    border-radius: 0.5rem; 
    margin-top: 1.5rem;
}

.card1, .card2, .card3 {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-color: #023041;
    border-radius: 1.5rem;
}

.card1-descricao,  .card2-descricao, .card3-descricao {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 12rem;
    text-decoration: none;
    padding: 1.5rem 0rem 3rem 0rem;
    gap: 0.8rem;
}

.card1-descricao h4 a,  .card2-descricao h4 a, .card3-descricao h4 a {
    font-family: roboto, sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.card1-descricao p a,  .card2-descricao p a, .card3-descricao p a {
    font-family: roboto, sans-serif;
    font-size: 0.86rem;
    color: white;
    text-decoration: none;
}

.sobre {
    background-color: #023041;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;    
}

.sobre-texto h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.3rem;
    color: white;
    
}

.sobre-texto p {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
    background-color: white;
    color: #023041;
    width: 38rem;
    
    border-radius: 2rem;

    margin-top: 2.5rem;
    padding: 2rem 1rem;
}

.sobre-icones {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
    
}

.icones-html img {
    height: 150px;
}

.icones-css img {
    height: 150px;
}

.icones-js img {
    height: 150px;
}